body {
    text-align: justify;    
    max-width: 70%;
    margin-left: 200px;  
}

header {
    text-align: center;
}

h1 h2 {
    text-align: left
}

.img1 {
    height: 250px;
    width: 350px;
    float: left;
    margin: 5px 15px 10px 20px;
}

.img2 {
    float: center;
    margin-left: 200px;
}

.CentralInternetServers {
    margin-top: 65px;
}