body {
    text-align: justify;    
    max-width: 70%;
    margin-left: 200px;  
}

header {
    text-align: center;
}

h1, h2 {
    text-align: left
}

.img_1_container {
    max-width: 350px;
    float: left;
    margin: 10px 20px 30px 5px;
    

}
.img_1 {
    width: 100%;
    max-width: 100%;
    height: auto;
   
}

.img_2_container {
    text-align: center;
    }
    

.Central_Internet_Servers {
    margin-top: 65px;
}
